@import "tailwindcss";

@theme {
  --color-type-normal: #a8a77a;
  --color-type-fire: #ee8130;
  --color-type-water: #6390f0;
  --color-type-electric: #f7d02c;
  --color-type-grass: #7ac74c;
  --color-type-ice: #96d9d6;
  --color-type-fighting: #c22e28;
  --color-type-poison: #a33ea1;
  --color-type-ground: #e2bf65;
  --color-type-flying: #a98ff3;
  --color-type-psychic: #f95587;
  --color-type-bug: #a6b91a;
  --color-type-rock: #b6a136;
  --color-type-ghost: #735797;
  --color-type-dragon: #6f35fc;
  --color-type-dark: #705746;
  --color-type-steel: #b7b7ce;
  --color-type-fairy: #d685ad;
}

body {
  @apply bg-slate-50 text-slate-900;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(15, 23, 42, 0.6);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #0284c7;
  border-radius: 4px;
  border: 1px solid rgba(15, 23, 42, 0.8);
}

::-webkit-scrollbar-thumb:hover {
  background: #0ea5e9;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #0ea5e9;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #38bdf8;
}
